*{
    margin: o;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-size:large16px;
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
}
header {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: .5rem;
    background-color:  #0B4F6C;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}
h1{
    padding: 5rem;
}
header img{
    width: 100%;
    height: auto;
}
footer{
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: .5rem;
    background-color:  #01BAEF;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    text-align: center;
}